*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(14,23,42);
}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 600px;
    background-color: rgb(24,39,63);
    border-radius: 15px;
    box-shadow: 5px 7px 7px 7px rgba(0,0,0,0.59);
}
.main-img{
    display: flex;
    width: 350px;
    margin: 25px auto;
    border-radius: 10px;
}
h2{
    display: flex;
    color: rgb(248,235,215);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}
.text{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248,235,215);
    margin: 25px;
    line-height: 140%;
}
.group{
    display: flex;
    justify-content: space-between;
    margin: auto 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.currency{
    color: rgb(72,230,235);
    font-weight: bolder;
}
.deadline{
    color: rgb(144,166,197);
}
.sub-group{
    display: flex;
    align-items: center;
}
.second-group{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 25px;
}
.avatar-img{
    border-radius: 10px 50% solid white;
}
.nav-bar {
    border-bottom: 1px solid rgba(255,255,255,.25);
    margin: 0 25px;
}